<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/globals.css" />
        <link rel="stylesheet" href="/static/styleguide.css" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="desktop">
            <div class="text-wrapper">Реєстрація</div>
            <div class="div">Вхід</div>

            <form action="/login" method="post">

                <div class="password">
                    <div class="rectangle"></div>
                    <input type="password" name="password" class="text-wrapper-2" placeholder="********" required
                           style="background: transparent; border: none; position: absolute; outline: none; width: 80%; z-index: 10;">
                    <div class="text-wrapper-3">Пароль</div>
                    <img class="icon" src="img/icon-2.svg" />
                    <div class="basil-eye-closed">
                        <img class="vector" src="img/vector.svg" /> <img class="img" src="img/vector-2.svg" />
                    </div>
                </div>

                <div class="email">
                    <div class="rectangle"></div>
                    <input type="email" name="email" class="text-wrapper-2" placeholder="example@mail.com" required
                           style="background: transparent; border: none; position: absolute; outline: none; width: 80%; z-index: 10;">
                    <div class="text-wrapper-4">Поштова скринька</div>
                    <img class="icon-2" src="img/icon-2.svg" />
                </div>

                <div class="text-wrapper-5">запам’ятати мене</div>
                <img class="rectangle-2" src="img/rectangle-17.svg" />

                <button type="submit" class="view-2" style="border: none; background: none; cursor: pointer; padding: 0;">
                    <div class="rectangle-3"></div>
                    <div class="text-wrapper-8">Ввійти</div>
                </button>

            </form> <div class="view">
                <div class="apple">
                    <div class="group"><img class="shape" src="img/shape.svg" /></div>
                </div>
                <div class="facebook">
                    <div class="shape-wrapper"><img class="shape-2" src="img/shape-2.svg" /></div>
                </div>
                <div class="google"></div>
            </div>
            <div class="text-wrapper-6">або ввійди через акаунт</div>
            <p class="p">
                <span class="span">Ще не зареєєструвався? Створи акаунт </span> <span class="text-wrapper-7">Реєстрація</span>
            </p>

            <div class="view-3">
                <div class="text-wrapper-9">LOGO</div>
                <div class="text-wrapper-10">Головна</div>
                <div class="text-wrapper-11">Зробити запит</div>
                <div class="text-wrapper-12">Мапа потреб</div>
            </div>
            <img class="line" src="img/line-8.svg" />
            <div class="rectangle-4"></div>
            <div class="text-wrapper-13">Забули пароль?</div>
        </div>
    </body>
</html>
